body {
    background-image: url("Dinner_image.jpg");
    background-color: #e9ecef;
  }

  .dining-picture{
width: 1110px;/* 
justify-content: center;
align-items: center; */
  }

  .no-pad{
      padding: 0;
  }
.card{
    justify-content: center;
    margin: auto;
}
.btn{
    justify-content: center;
    margin: auto;
}
.card-img-top{
    padding: 15px 0px 15px 0px;
}
.navbar-brand{
    font-size: 32px;
    padding: 15px;
}
.nav-item{
    padding-right: 30px;
    padding-left: 30px;
}
/* .text-box{
    position: relative;
    color: white;
    padding: 250px;
    
} */
h3{
    color: white;
    position: absolute;
    top:145%;
    padding:15px;
}
.video{
    justify-content: center;
    align-items: center;
}
.p-text{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.para-text{
    color: black;

}
.highlighter{
    font-weight: bold;
    font-size: 24px;
}
.highlighter2{
    font-weight: bold;
    font-size: 24px;
    color: #666666;
}
.link{
    font-size: 20px;
    color: blue;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ref-text{

    font-size: 30px;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.center{
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}